.accountList {
    width: 75%;
    height: 75%;
    overflow: scroll;
    background-color: #00000021;
    border-radius: 5px;
    padding: 1%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 67px #0000009c;
}

#uiDelete {
    position: absolute;
    z-index: 99;
    height: 70%;
    width: 70%;
}

.deleteAccountCard {
    background-color: rgb(116, 116, 116);
    width: 95%;
    height: 7vw;
    display: flex;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    img {
        height: 100%;
    }
    .deleteAccountSide {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
            text-align: center;
            font-size: 2rem;
            font-family: 'Josefin Sans', sans-serif;
            color: white;
        }
        h6 {
            font-family: monospace;
            font-size: .9rem;
            color: white;
        }
    }
}

.deleteButton {
    background-color: rgba(251, 0, 0, 0.491);
    padding: 1% 3%;
    font-size: 1rem;
    text-align: center;
    border-radius: 50px;
    border: none;
    color: white;
    transition: transform 200ms, background-color 200ms;
    &:hover {
        transform: scale(105%);
        cursor: pointer;
        background-color: rgba(251, 0, 0, 0.78);
    }
    &:active {
        transform: scale(95%);
        background-color: rgba(251, 0, 0, 0.365);
    }
}

#deleteBackground {
    position: absolute;
    height: 100%;
    z-index: 99;
    width: 100%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.46);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: none;
    justify-content: center;
    align-items: center;
}

.closeArea, .closeArea2 {
    position: absolute;
    height: 100%;
    z-index: 98;
    width: 100%;
}

.deleteConfirmationDiv {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.delete {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.deleteXButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    text-align: center;
    position: relative;
    top: -14px;
    right: -107px;
    font-family: "Josefin Sans", sans-serif;
    display: none;
    p {
        position: relative;
        z-index: 2;
        font-size: 180%;
    }
}

.deleteXButtonBackground {
    background-color: white;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 1;
}

.invisible {
    display: none;
}