@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    // border: solid 1px red;
}

body {
    background-color: rgb(47, 47, 47);
    height: 100vh;
}

.invisible {
    visibility: hidden;
}

@import "mainpage.scss";
@import "uistyle.scss";
@import "uianimations.scss";
@import "deleteaccounts.scss";
